{
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off"
  }
}
